################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NewMyWebApp/.vs/NewMyWebApp
/NewMyWebApp/NewMyWebApp/obj
